% A snippet to insert a floating figure 
ctrl key = f
group = Floating
insert at cursor =
\begin{figure}[hbt]
\centering
  \includegraphics[width=0.8 \columnwidth]{}
  \caption{<SELECTION>}
  \label{}
\end{figure}